h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    height: 42px;
    color:#333333;
    background-color: #E3DAC9;
}

.spacer {
  flex-grow: 1; /* Pushes items to the right */
}

.profile-container {
  position: absolute;
  right: 16px; /* Ensures it stays at the top-right */
}

mat-sidenav-container {
    height:100%;
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    /* .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    } */
  }

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

mat-sidenav{
  background-color: #e9ecef;
}

mat-expansion-panel-header, .left-menu{
  background-color: #f2e8e0;
}

mat-expansion-panel-header > mat-list-item {
  background-color: beige;
}

