<div class="content-wrapper">
<section class="content">

        <!-- left column -->
<!--         <div class="col-md-12"> -->
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Room List</h3>
              
              <button type="button" class="btn btn-success" data-role="button" data-toggle="modal" data-target="#importRoomsExcel">Import Rooms Excel</button>
              
              
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body table-responsive">
				<!-- <table id="roomList" class="table table-hover table-bordered table-striped"> -->
                <!-- <table id="roomList" datatable  [dtOptions]="dtOptions" class="row-border hover"> -->
                <table class="table table-striped table-bordered table-sm row-border hover" id="roomList">
	                <thead>
		                <tr>
		                  <th>S.No.</th>
		                  <th>Room Number</th>
		                  <th>Room Type</th>
		                  <th>Plan</th>
		                  <th>Room Charges</th>
		                  <th>max. No. of Adults</th>
		                  <th>max. No. of Kids</th>
		                  <th>Status</th>
		                  <th>Actions</th>
		                </tr>
	                </thead>
	                <tbody>
                        <!-- <c:forEach items="${roomList}" var="room" varStatus="status"> -->
			                <tr *ngFor="let room of roomList; let count = index">
			                  <td>{{count}}</td>
			                  <td>{{room.roomNumber}}</td>
			                  <td>{{room.roomType.roomType}}</td>
			                  <td>{{room.hotelPlanMaster.planName}}</td>
			                  <!-- <td><numberFormat:Number value = "${room.roomCharges}" decimalValue= "true" /></td> -->
                              <td>{{room.roomCharges}}</td>
			                  <td>{{room.maxNoOfAdults}}</td>
			                  <td>{{room.maxNoOfKids}}</td>
			                  <td>{{room.status}}</td>
			                  <td>
                          <button type="button" (click)="bookingRoom($event)" class="btn btn-success" id="open-book-modal" >Book</button>  
                          <button type="button" *ngIf="hasPrivilege('ADD_ROOM')" (click)="addRoom(room)" class="btn btn-success" id="open-book-modal" ><mat-icon>edit</mat-icon></button> 
                          <!-- <button type="button" (click)="openBookingRoom(content)" class="btn btn-success" id="open-book-modal">Book</button>   -->
                           
			                    <!-- <a href="reservation/bookRoom?roomIds=${room.roomId}" role="button" class="btn btn-warning">Book</a>
			                    <a href="room/create?roomId=${room.roomId}" role="button" class="btn btn-success"><i class="fa fa-edit"></i></a> 
			                  	<button type="button" (click)="bookingRoom($event)" class="btn btn-success" data-role="button" data-toggle="modal" data-target="#paymentModel" 
			                  	 id="book-button" data-roomId="{{room.roomId}}" data-roomno="{{room.roomNumber}}" data-roomcharges="{{room.roomCharges}}">Book</button>  -->
                           <!-- <button type="button" (click)="bookingRoom($event)" class="btn btn-success" data-role="button" data-toggle="modal" data-target="#paymentModel" 
			                  	 id="book-button" data-roomId="{{room.roomId}}" data-roomno="{{room.roomNumber}}" data-roomcharges="{{room.roomCharges}}">Book</button>  -->
			                  
			                  </td>
			                </tr>
		                <!-- </c:forEach> -->
		            </tbody>
		        </table>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <input type="button" class="btn btn-warning" value="Back" onclick="history.go(-1);"/>
              </div>
          </div>
          <!-- /.box -->
          
<!--           </div> -->


  <!-- rooms.component.html -->
<div class="room-container">
  <mat-card *ngFor="let room of roomList" class="room-card">
    <mat-card-header>
      <mat-card-title>Room No. {{ room.roomNumber }}</mat-card-title>
    </mat-card-header>

    <!-- <img mat-card-image [src]="room.image" alt="{{ room.name }}"> -->
    <img mat-card-image [src]="'assets/deluxe.jpeg'" alt="{{ room.roomType.roomType }}">

    <mat-card-content>
      <p><strong>Capacity: </strong> Adults -> {{ room.maxNoOfAdults }}, Kids -> {{room.maxNoOfKids}}</p>
      <p><strong>Status:</strong> {{ room.status }}</p>
      <p><strong>Price:</strong> ₹1200</p>
    </mat-card-content>

    <mat-card-actions>
      <!-- <button mat-raised-button color="primary">Book Now</button> -->
      <button type="button" (click)="bookingRoom($event)" class="btn btn-success" id="open-book-modal" >Book</button>  
      <button type="button" *ngIf="hasPrivilege('ADD_ROOM')" (click)="addRoom(room)" class="btn btn-success" id="open-book-modal" ><mat-icon>edit</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>


</section>




<!-- Modal -->
  <div class="modal fade" id="importRoomsExcel" role="dialog" tabindex="-1" aria-labelledby="Import Rooms Excel" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Import Rooms Excel</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          
          
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="modal fade" id="paymentModel" role="dialog" tabindex="-1" aria-labelledby="Payment Gateways" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Book Room No <span id="roomNo"></span></h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          <input type="hidden" name="" id="roomId" value="">
          
          <table id="book-table">
	          <tbody>
		          <tr>
		          <td>Amount</td>
		          <td></td>
		          <td id="amount"></td>
		          </tr>
	          </tbody>
          </table>
          <!-- @for (let hotelPaymentGateway of hotelPaymentGatewayList; track$index){
            <a href="hotelPaymentGateway/pay?roomId=${room.roomId}&hotelPaymentGatewayId=${hotelPaymentGateway.hotelPaymentGatewayId}&amount=" role="button" class="btn btn-success">{{hotelPaymentGateway.paymentGateway.paymentGatewayName}}</a>
          } -->
          <!-- <a *ngFor="let hotelPaymentGateway of hotelPaymentGatewayList; let count = index" href="hotelPaymentGateway/pay?roomId=${room.roomId}&hotelPaymentGatewayId=${hotelPaymentGateway.hotelPaymentGatewayId}&amount=" role="button" class="btn btn-success">{{hotelPaymentGateway.paymentGateway.paymentGatewayName}}</a> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>
 <!-- <script>
$('#book-button').on('click', function(){
	$('#roomId').text($(this).attr('data-roomid'));
	$('#roomNo').text($(this).attr('data-roomno'));
	$('#book-table').find('#amount').text($(this).attr('data-roomcharges'));
});
</script>
<script>
var roomTable = $('#roomList').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
});
    
    
$('#roomList').on( 'page.dt', function () {
	var info = roomTable.page.info();
	
	sessionStorage.setItem('pageNumber', info.page);
// 	$('#pageInfo').html( 'Showing page: '+info.page+' of '+info.pages );
} ); 
    
$(document).ready(function(){

// 	stay at current page of datatable
var pageNumber = sessionStorage.getItem('pageNumber');
 if(pageNumber != '' && pageNumber != null){
	 roomTable.page(parseInt(pageNumber)).draw('page');
	 sessionStorage.removeItem('pageNumber');
 }
});	
   
   
</script>  -->